@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<link rel="stylesheet" href="~/assets/CSS/Login_Register/index.css" />
<!-- Breadcrumb -->
<div class="container py-4 px-4 bg-white my-3 rounded-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb small text-muted m-0">
            <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a href="/pages">Pages</a></li>
            <li class="breadcrumb-item active text-secondary" aria-current="page">Quên mật khẩu</li>
        </ol>
    </nav>
</div>

<!-- Main Content -->
<div class="container py-5 bg-white rounded-3 mb-3">
    <div class="row  justify-content-center gx-5">
        <!-- Left Side - Illustration -->
        <div class="col-md-6 mb-4 mb-md-0">
            <img src="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/assets/img/login.svg" alt="Login illustration" class="img-fluid" />
        </div>

        <!-- Right Side - Login Form -->
        <div class="col-md-6 col-lg-5">
            <h1 class="text-success-custom fw-bold mb-2">Quên mật khẩu</h1>
            <p class="text-uppercase text-muted small mb-4">Hãy nhập email  của bạn vào bên dưới để bắt đầu quá trình khôi phục mật khẩu.</p>

            <form onsubmit="">

                <div class="mb-3">
                    <label for="email" class="form-label">Địa chỉ Email</label>
                    <input type="email" class="form-control" id="email" placeholder="example@gmail.com" required />
                </div>


                <button type="submit" class="btn btn-success-custom w-100 mb-3">XÁC NHẬN</button>

                <div class="text-center small">
                    <span class="text-muted">QUAY TRỞ LẠI TRANG ĐĂNG NHẬP ? </span>
                    <a href="/signup" class="text-success-custom fw-medium">ĐĂNG NHẬP</a>
                </div>
            </form>
        </div>
    </div>
</div>