@model List<Shop.Models.NewsModel>

<div class="list-group list-group-flush" id="related-articles">
    @foreach (var article in Model.Take(4))
    {
        <a href="@article.Url" class="d-flex align-items-center mb-3 text-decoration-none">
            <img src="@article.UrlToImage" alt="..." class="rounded" style="width: 70px; height: 70px; object-fit: cover;">
            <div class="ms-2 small text-dark text-truncate" style="max-width: calc(100% - 80px);">
                @article.Title <br />
                @article.Description
            </div>
        </a>
    }

<div class="text-center mt-2">
    <a href="/News/Blog" class="btn btn-sm btn-outline-success">
        Xem tất cả
    </a>


</div>

    
</div>
